/*******************  TAGS  **************************/


i{
  color: white;
  margin:10px;
}

body{
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

/*******************  CLASSEs  ***********************/

.row-haeder{
  margin: 0px auto;
  padding: 0px auto;
}

.row-content{
margin: 0px auto;
padding: 50px 0px 50px 0px;
border-bottom: 1px ridge;
min-height: 200px;
}

.footer{
  background-color: #efa8e4;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron{
  background: #6a097d;
  padding:70px 30px 70px 30px;
  margin: 0px auto;
  color: #ffffff;
}

.address{
  font-size: 80%;
  margin: 0px auto;
  color: #0f0f0f;
}

.navbar{

}

.navbar-dark{
  background-color: #57007e;
}

.nav-item{
  margin: 10px;
}
